{extend name="../user-layout" /}
{block name="content"}
<link rel="stylesheet" href="__STATIC__/usercenter/css/fileinput.min.css">

<style>
    .form-control-usdt-balance {
        width: 100%;
        display: inline;
    }

    .mr-1 {
        margin-right: 0.25rem !important;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 main">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="form1" class="form-horizontal">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 col-md-2 control-label">用户名称</label>
                            <div class="col-sm-10 col-md-5">
                                <input type="text" class="form-control" required id="username" name="username"
                                       value="{$user_info.username}" disabled placeholder="用户名称">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="user_type" class="col-sm-2 col-md-2 control-label">用户类型</label>
                            <div class="col-sm-10 col-md-5">
                                <select class="form-control" name="" id="user_type" disabled>
                                    <option value="1" {if condition="$user_info.user_type == 1" }selected{
                                    /if}>渠道用户</option>
                                    <option value="2" {if condition="$user_info.user_type == 2" }selected{
                                    /if}>商户用户</option>
                                    <option value="3" {if condition="$user_info.user_type == 3" }selected{
                                    /if}>三方用户</option>
                                    <option value="4" {if condition="$user_info.user_type == 4" }selected{
                                    /if}>代理用户</option>
                                </select>
                            </div>
                        </div>

                        <!--<div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">是否公开信息</label>
                            <div class="col-sm-10 col-md-5">
                                <div class="radio-inline">
                                    <label for=""><input {if condition="$user_info.is_info_public == 0" }checked{/if}
                                        type="radio" name="is_info_public" id="" value=0>否</label>
                                </div>
                                <div class="radio-inline">
                                    <label for=""><input {if condition="$user_info.is_info_public == 1" }checked{/if}
                                        type="radio" name="is_info_public" id="" value=1>是</label>
                                </div>
                            </div>
                        </div>-->

                        <!-- <div class="form-group">
                             <label class="col-sm-2 col-md-2 control-label">头像</label>
                             <div class="col-sm-6">
                                 <input id="input" name="file" type="file" class="file-loading" accept="image/*">
                                 <input type="hidden" id="avatar" name="avatar"  showClose="true"  value="{$user_info.avatar}">
                             </div>
                         </div>-->

                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">跑量余额</label>
                            <div class="col-sm-10 col-md-5">
                                <input type="text" class="form-control" required id="money" name="username"
                                       value="{$user_info.money}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">USDT余额</label>
                            <div class="col-sm-10 col-md-5">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-usdt-balance" required
                                           id="usdt_bala" name="username"
                                           value="{$user_info.usdt_balance}" disabled>
                                    <span class="input-group-btn">
                                        <a href="javascript:void(0)" class="btn btn-info btn-w-md" onclick="topup()" style="margin-left: 5px;height: 40px;line-height: 28px">充值</a>
                                        <a href="javascript:void(0)" class="btn btn-primary btn-w-md" onclick="withdrawUsdt()" style="margin-left: 5px;height: 40px;line-height: 28px">提现</a>
                                    </span>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type='hidden' name='_ajax' value='1'/>
                                <button type="submit" class="btn btn-success">保存</button>
                                <a href="{:url('/usercenter/index/index')}" class="btn btn-danger"
                                   role="button">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="topUp" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content"  data-backdrop="red">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">USDT充值</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="top-up-usdt-form">
                    {:token()}
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <input type="number" class="form-control" required  id="usdt_sum" name="usdt_sum" value="" placeholder="请输入充值金额">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-info">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="withdraw" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content"  data-backdrop="red">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">USDT提现</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="withdraw-usdt-form">
                    {:token()}
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <input type="text" class="form-control" required  name="withdraw_usdt_address" value="" placeholder="请输入USDT地址">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <input type="number" class="form-control" required  name="usdt_sum" value="" placeholder="请输入提现金额">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-info">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="__STATIC__/usercenter/js/fileinput.min.js"></script>
<script src="__STATIC__/usercenter/js/fileinput_locale_zh.js"></script>
<!--<script type="text/javascript">
    $(function () {
        let avatar = $('#avatar').val();
        let initialPreview = [];
        if (avatar) {
            avatar = "<img src='" + avatar + "' class='file-preview-image' style='width:auto;height:160px'>"
            initialPreview.push(avatar)
        }
        $("#input").fileinput({
            language: 'zh', //设置语言
            autoReplace: true,
            maxFileCount: 1,
            allowedFileExtensions: ['jpg', 'jpeg', 'png'],//接收的文件后缀
            uploadAsync: false, //默认异步上传,这里设置了同步
            showUpload: false, //是否显示上传按钮
            showRemove: true, //显示移除按钮
            showPreview: true, //是否显示预览
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            dropZoneEnabled: false,//是否显示拖拽区域
            maxFileCount: 1, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount: true,
            initialPreview: initialPreview,
            layoutTemplates: {
                actionDelete: '', //去除上传预览的缩略图中的删除图标
                actionUpload: '',//去除上传预览缩略图中的上传图片；
                actionZoom: '',   //去除上传预览缩略图详情的图标
                actionDownload: '', //去除上传预览缩略图中的下载图标
                close: ''
            },
        }).on("fileclear", function (event, data, msg) {
            $('#avatar').val('');
        }).on('filebatchselected', function (event, data, id, index) {
            var formData = new FormData();//通过FormData将文件转换成二进制数据
            formData.append('file', $('#input')[0].files[0]);
            $.ajax({
                url: "uploadAvatar",
                type: 'post',
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                async: false,
                dataType: "json",
                success: function (result) {
                    if (result.code == 1) {
                        $('#avatar').val(result.data.src);
                    } else {
                        $('.fileinput-remove-button').click();
                        swal({title: "错误", text: '上传失败', icon: "error"});
                    }
                }
            });
        })
    })
</script>-->

<script src="__STATIC__/index/baisha/js/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript">
    DoPost = function () {
        var code = "", message = "";
        $.ajax({
            url: "{:url('info')}",
            type: "POST",
            data: $("#form1").serialize(),
            isuccess: function (data) {
                code = data.code;
                message = data.msg;
            },
            error: function () {
                message = "提交失败";
            },
            icomplete: function () {
                if (code == "1") {
                    swal({
                        title: "保存成功",
                        text: "正在跳转...",
                        icon: "success",
                        button: false,
                        timer: 2000
                    }).then(function (isConfirm) {
                        window.location.href = '/usercenter/index/index';
                    });
                } else {
                    swal({title: "错误", text: message, icon: "error"});
                }
            }
        });
    };

    $(function () {
        $("#form1").validate({
            errorElement: 'span',
            errorClass: 'help-block',
            focusInvalid: true,
            errorPlacement: function (error, element) {
                if (element.parent().hasClass("input-group"))
                    element.parent().next().remove();
                else
                    element.next().remove();
                //element.after('<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>');
                element.closest('.form-group').append(error);
                //element.after(error);
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error has-feedback');
            },
            success: function (label) {
                var el = label.closest('.form-group').find("input");
                if (el.parent().hasClass("input-group"))
                    el.parent().next().remove();
                else
                    el.next().remove();
                //el.after('<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>');
                label.closest('.form-group').removeClass('has-error').addClass("has-feedback has-success");
                label.remove();
            },
            submitHandler: function (form) {
                DoPost();
            }

        })

        $("#top-up-usdt-form").validate({
            errorElement: 'span',
            errorClass: 'help-block',
            rules: {
                usdt_sum: {
                    required: true,
                }
            },
            messages: {
                usdt_sum: {
                    required: "<span style='padding: 15px'>充值USDT数量不能为空！</span>",
                }
            },
            focusInvalid: true,
            errorPlacement: function (error, element) {
                if (element.parent().hasClass("input-group"))
                    element.parent().next().remove();
                else
                    element.next().remove();
                //element.after('<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>');
                element.closest('.form-group').append(error);
                //element.after(error);
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error has-feedback');
            },
            success: function (label) {
                var el = label.closest('.form-group').find("input");
                if (el.parent().hasClass("input-group"))
                    el.parent().next().remove();
                else
                    el.next().remove();
                //el.after('<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>');
                label.closest('.form-group').removeClass('has-error').addClass("has-feedback has-success");
                label.remove();
            },
            submitHandler: function (form) {
                topupSubmit();
            }

        })

        $("#withdraw-usdt-form").validate({
            errorElement: 'span',
            errorClass: 'help-block',
            rules: {
                usdt_sum: {
                    required: true,
                },
                withdraw_usdt_address: {
                    required: true
                }
            },
            messages: {
                usdt_sum: {
                    required: "<span style='padding: 15px'>提现USDT数量不能为空</span>",
                },
                withdraw_usdt_address: {
                    required: "<span style='padding: 15px'>USDT地址不能为空</span>",
                }
            },
            focusInvalid: true,
            errorPlacement: function (error, element) {
                if (element.parent().hasClass("input-group"))
                    element.parent().next().remove();
                else
                    element.next().remove();
                //element.after('<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>');
                element.closest('.form-group').append(error);
                //element.after(error);
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error has-feedback');
            },
            success: function (label) {
                var el = label.closest('.form-group').find("input");
                if (el.parent().hasClass("input-group"))
                    el.parent().next().remove();
                else
                    el.next().remove();
                //el.after('<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>');
                label.closest('.form-group').removeClass('has-error').addClass("has-feedback has-success");
                label.remove();
            },
            submitHandler: function (form) {
                withdrawUsdtSubmit();
            }

        })
    });

    var topup = function (){
        $('#topUp').modal('toggle');
    }

    var topupSubmit = function () {
        let code = '', message = '';
        $.ajax({
            url: "{:url('/usercenter/paycenteruser/getTopUpAddress')}",
            type: "POST",
            data: $("#top-up-usdt-form").serialize(),
            success: function (data) {
                code = data.code;
                message = data.msg;
                usdtData = data.data;
            },
            error: function () {
                message = "提交失败";
            },
            complete: function () {
                if (code == "1") {
                    $('#topUp').modal('toggle')
                    var div = document.createElement('div');
                    var p = document.createElement('p');
                    var p1 =document.createElement('p');
                    var img = document.createElement('img');
                    img.setAttribute('src', usdtData.payQr);
                    p.innerHTML = '请支付<span style="color: red;font-weight: bold;">'+ usdtData.usdt_sum + '</span>USDT'
                    p1.innerHTML ='<strong style="color: red;font-weight: bold">注意：USDT数量不能多转或少转，否则订单不会支付成功！！！</strong>';
                    div.appendChild(p);
                    div.appendChild(p1);
                    div.appendChild(img);
                    swal({
                        title:'USDT扫码充值',
                        content:div,
                        confirmButtonText: "确定",
                    })
                }
                else {
                    swal({ title: "错误", text: message, icon: "error" });
                }
            }
        });
    }

    var withdrawUsdt = function (){
        $('#withdraw').modal('toggle')
    }

    var withdrawUsdtSubmit = function (){
        let code = '', message = '';
        $.ajax({
            url: "{:url('/usercenter/paycenteruser/applyWithdraw')}",
            type: "POST",
            data: $("#withdraw-usdt-form").serialize(),
            success: function (data) {
                code = data.code;
                message = data.msg;
                usdtData = data.data;
            },
            error: function () {
                message = "提交失败";
            },
            complete: function () {
                if (code == "1") {
                    $('#withdraw').modal('toggle')
                    swal({ title: message, text: '正在跳转...', icon: "success", button: false, timer: 2000 }).then(function (isConfirm) {
                        window.location.href = '/usercenter/paycenteruser/info';
                    });
                }
                else {
                    swal({ title: "错误", text: message, icon: "error" });
                }
            }
        });
    }
</script>

<script type="text/javascript">
    $.ajaxSetup({
        //async: false,
        cache: false,
        timeout: 15000,
        dataType: "json",
        //contentType: "application/json; charset=utf-8",
        crossDomain: true,
        success: function (data) {
            if (data.code == "anonymous") {
                window.location.href = '/';
            } else if (this.isuccess) {
                this.isuccess(data);
            }
        },
        error: function (xhr, status, e) {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    var domObj = xhr.responseXML;
                    if (domObj) {
                        var messageNodes = domObj.getElementsByTagName("message");
                        if (messageNodes.length > 0) {
                            var textNode = messageNodes[0].firstChild;
                            var responseMessage = textNode.nodeValue;
                            swal({title: "操作错误", text: responseMessage, icon: "error"});
                        } else {
                            swal({title: "提交错误:" + xhr.status, text: xhr.responseText, icon: "error"});
                        }
                    } else {
                        swal({title: "提交错误:" + xhr.status, text: xhr.responseText, icon: "error"});
                    }
                } else {
                    swal({title: "提交错误:" + xhr.status, text: "参考信息：无", icon: "error"});
                }
            }
        },
        beforeSend: function (xhr) {
            $("#loading").show();
        },
        complete: function (xhr, status) {
            $("#loading").hide();
            if (this.icomplete) {
                this.icomplete();
            }
        }
    });
    $(function () {
        FastClick.attach(document.body);
    });
</script>

{/block}
</body>
</html>