body {
    /*background: url("../images/bg03.jpg");*/
    margin: 0;
    padding: 0;
    font: normal 15px 'ubuntu', arial, sans-serif;
    line-height: 18px;
    color: #FFFFFF;
    height: 100%;
    background: #47759e; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #BF7A6A 0%, #0b264e 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#BF7A6A), color-stop(100%,#0b264e)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #BF7A6A 0%,#0b264e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #BF7A6A 0%,#0b264e 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #BF7A6A 0%,#0b264e 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #BF7A6A 0%,#0b264e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BF7A6A', endColorstr='#0b264e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

@keyframes myfirst {
    0% {
        background: url("../images/bg01.jpg");
    }

    50% {
        background: url("../images/bg03.jpg");
    }

    100% {
        background: url("../images/bg05.jpg");
    }
}

.form {
    background: rgba(255,255,255,0.6);
    width: 400px;
    margin: 120px auto;
}
/*阴影*/
.gl {
    display: inline-block;
    top: 27px;
    left: 6px;
    position: relative;
    color: #ccc;
}

input[type="text"], input[type="password"] {
    padding-left: 26px;
}

.checkbox {
    padding-left: 21px;
}