{extend name="../user-layout" /}
{block name="content"}

<div class="container-fluid panel">
  <div class="row">
    <div class="col-xs-12 main">
      <h3>对接信息</h3>
      <div class="panel panel-default text-center text-center">
        <div class="col-xs-12 main text-center">
        <table class="table table-bordered">
          <tr>
            <td class="active"><strong>商户号</strong></td>
            <td class="">{$userinfo.uid}</td>
          </tr>
          <tr>
            <td class="active"><strong>密钥</strong> </td>
            <td class="">{$userinfo.key}</td>
          </tr>
          <tr>
            <td class="active"><strong>下单地址</strong> </td>
            <td class="">{$userinfo.pay_address}</td>
          </tr>
          <tr>
            <td class="active"><strong>查询地址</strong> </td>
            <td class="">{$userinfo.query_address}</td>
          </tr>
          <tr>
            <td class="active"><strong>查询地址</strong> </td>
            <td class="">{$userinfo.callback_ip}</td>
          </tr>
          <tr>
            <td class="active"><strong>在线文档</strong> </td>
            <td class="active"><a href="{:url('usercenter/index/apiDoc')}" class="btn btn-xs btn-primary">进入</a></td>
          </tr>
        </table>
          <a href="{:url('list_merchant')}" class="btn btn-success" role="button">返回</a>
        </div>
      </div>

    </div>
  </div>
</div>
{/block}
</body>
</html>