<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>中通科技|中通聚合支付 - 后台管理 - 用户提现列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__ADMIN__/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">

    <div class="layui-card">
        <!--头部-->
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <label class="layui-form-label">商户名称：</label>
                <div class="layui-input-inline">
                    <input type="text" name="merchant_username" placeholder="请输入商户用户名称" autocomplete="off" class="layui-input" >
                </div>
                <label class="layui-form-label">渠道名称：</label>
                <div class="layui-input-inline">
                    <input type="text" name="channel_username" placeholder="请输入渠道用户名称" autocomplete="off" class="layui-input" >
                </div>
                <label class="layui-form-label">支付渠道：</label>
                <div class="layui-input-inline">
                    <input type="text" name="channel_name" placeholder="请输入支付渠道名称" autocomplete="off" class="layui-input" >
                </div>
                <label class="layui-form-label">状态：</label>
                <div class="layui-input-inline">
                    <select name="status" id="status">
                        <option value="-1">请选择</option>
                        <option value="0" {if condition="input('status') == 0"}selected{/if}>订单关闭</option>
                        <option value="1" {if condition="input('status') == 1"}selected{/if}>待支付</option>
                        <option value="2" {if condition="input('status') == 2"}selected{/if}>支付成功</option>
                        <option value="3" {if condition="input('status') == 3"}selected{/if}>申请退保</option>
                        <option value="4" {if condition="input('status') == 4"}selected{/if}>退保成功</option>
                        <option value="5" {if condition="input('status') == 5"}selected{/if}>拒绝退保</option>
                    </select>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-order" lay-submit lay-filter="app-usdt-withdraw-orders-list-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <!--数据表-->
        <div class="layui-card-body">
            <table id="app-usdt-withdraw-orders-list" lay-filter="app-usdt-withdraw-orders-list"></table>

            <script type="text/html" id="statusTpl">
                {{#  if(d.status == '0'){ }}
                <button class="layui-btn layui-btn layui-btn-xs">驳回</button>
                {{#  } else if(d.status == '1'){ }}
                <button class="layui-btn layui-btn-warm layui-btn-xs">待打款</button>
                {{#  } else if(d.status == '2'){ }}
                <button class="layui-btn layui-btn-success layui-btn-xs">已打款</button>
                {{#  } }}
            </script>
            <script type="text/html" id="transferTypeTpl">
                {{#  if(d.status == '1'){ }}
                <button class="layui-btn layui-btn layui-btn-xs">自动转账</button>
                {{#  } else if(d.status == '2'){ }}
                <button class="layui-btn layui-btn-warm layui-btn-xs">手动转账</button>
                {{#  } }}
            </script>
            <script type="text/html" id="table-usdt-withdraw">
                {{#  if(d.status == '1'){ }}
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="remit"><i class="layui-icon layui-icon-edit"></i>打款</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="reject"><i class="layui-icon layui-icon-edit"></i>驳回</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="manual-remit"><i class="layui-icon layui-icon-edit"></i>手动到账</a>
                {{# } }}
            </script>
        </div>
    </div>
</div>

<script src="__ADMIN__/layui/layui.js"></script>
<script>
    layui.config({
        base: '__ADMIN__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'usdt_withdraw_orders'], function(){
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table;

        //监听搜索
        form.on('submit(app-guarantee-orders-list-search)', function(data){
            var field = data.field;

            //执行重载
            table.reload('app-guarantee-orders-list', {
                where: field
            });
        });

    });
</script>
</body>
</html>