{extend name="../user-layout" /}
{block name="content"}


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 main">
            <h3>配置编码</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="form1" class="form-horizontal">

                        {volist name = 'codes' id = 'vo'}
                        <div class="form-group">
                            <label  class="col-sm-2 col-md-2 control-label">{$vo.name}({$vo.code})</label>
                            <div class="input-group col-sm-10 col-md-3">
                                    <input class="form-control" name="d[{$vo.id}_value]"  value="{$vo.value ?? ''}" placeholder="编码值">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary" onclick="PostTestChannel('{$vo.code}', '{$channel_id}', this)" data-toggle="拉单测试" >拉单测试</button>
                                    </span>
                            </div>
                        </div>
                        {/volist}


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type='hidden' name='_ajax' value='1'/>
                                <input type='hidden' name='channel_id' value='{$channel_id}'/>
                                <button type="submit" class="btn btn-success" >保存</button>
                                <a href="{:url('index')}" class="btn btn-danger" role="button">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="__STATIC__/index/baisha/js/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript">
    DoPost = function () {
        var code = "", message = "";
        $.ajax({
            url: "{:url('setChannelCode')}",
            type: "POST",
            data: $("#form1").serialize(),
            isuccess: function (data) {
                code = data.code;
                message = data.msg;
            },
            error: function () {
                message = "提交失败";
            },
            icomplete: function () {
                if (code == "1") {
                    swal({ title: "保存成功", text: "正在跳转...", icon: "success", button: false, timer: 2000 }).then(function (isConfirm) {
                        window.location.href = '/usercenter/channels/index';
                    });
                }
                else {
                    swal({ title: "错误", text: message, icon: "error" });
                }
            }
        });
    };

    PostTestChannel = function (channel_code, channel_id, ele) {
        let codeVal = $(ele).parent().prev().val();
        if (codeVal == ''){
            swal({title: "错误", text: '编码值内容为空！！！！', icon: "error"});
            return
        }
        $.ajax({
            url: "/usercenter/channels/getChannelAccountList",
            type: "POST",
            data: {channel_id:channel_id, _ajax: '1'},
            isuccess: function (data) {
                code = data.code;
                message = data.msg;
                responseData = data.data;
            },
            error: function () {
                message = "提交失败";
            },
            icomplete: function () {
                if (responseData.length < 1){
                    swal({title: "错误", text: '该渠道没有可用账号，请先添加账号！！！', icon: "error"});
                }else if (code == 1) {
                    var div = document.createElement('div');
                    var wrapper = document.createElement('select');
                    var input = document.createElement('input');
                    wrapper.classList.add('form-control');
                    wrapper.setAttribute('id', 'accountId');
                    input.classList.add('form-control');
                    input.setAttribute('id', 'amount');
                    input.setAttribute('placeholder', '请输入金额');
                    input.setAttribute('type', 'number');
                    input.setAttribute('min', '1');
                    input.setAttribute('style', 'margin-top:10px');
                    let option_html  = '<option value="">请选择账号</option>\n';
                    responseData.forEach(function(element) {
                        option_html += '<option value="'+element.id+'">'+element.name+'</option>\n';
                    });
                    wrapper.innerHTML = option_html;
                    input.innerHTML = option_html;
                    div.appendChild(wrapper);
                    div.appendChild(input);
                    var br = document.createElement("br");
                    div.appendChild(br);
                    swal({
                        title: "拉单测试",
                        content:div,
                        confirmButtonText: "确定",
                        buttons: {
                            confirm: true,
                            cancel: true
                        },
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                            let accountId =$('#accountId').val();
                            let amount =$('#amount').val();
                            if ( accountId == ''){
                                swal("请先选择账号！！！");
                            }else if(amount <= 0){
                                swal("金额不能为空获金额不正确！！！");
                            }else{
                                $.ajax({
                                    url: "/usercenter/channels/channelTest",
                                    type: "POST",
                                    data: {channelCode:channel_code, codeVal:codeVal,amount:amount ,accountId:accountId,_ajax: '1'},
                                    isuccess: function (data) {
                                        if (data.code ==1){
                                            swal({
                                                title: "处理成功",
                                                text: "正在跳转...",
                                                icon: "success",
                                                button: false,
                                                timer: 2000
                                            }).then(function (isConfirm) {
                                                window.location.href = data.url
                                            });
                                        } else {
                                            swal({title: "错误", text: data.msg, icon: "error"});
                                        }
                                    }
                                })
                            }
                        }
                    });
                } else {
                    swal({title: "错误", text: message, icon: "error"});
                }
            }
        });
    };

    $(function () {
        $("#form1").validate({
            errorElement: 'span',
            errorClass: 'help-block',
            rules: {
                name:{
                    required:true,
                },
                secret_key:{
                    required:true,
                }

            },
            messages: {
                name: "请输入账号名称",
                secret_key:'请输入密钥',
            },
            focusInvalid: true,
            errorPlacement: function (error, element) {
                if(element.parent().hasClass("input-group"))
                    element.parent().next().remove();
                else
                    element.next().remove();
                //element.after('<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>');
                element.closest('.form-group').append(error);
                //element.after(error);
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error has-feedback');
            },
            success: function (label) {
                var el = label.closest('.form-group').find("input");
                if (el.parent().hasClass("input-group"))
                    el.parent().next().remove();
                else
                    el.next().remove();
                //el.after('<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>');
                label.closest('.form-group').removeClass('has-error').addClass("has-feedback has-success");
                label.remove();
            },
            submitHandler: function (form) {
                DoPost();
            }

        })
    });

</script>
<script src="https://cdn.staticfile.org/sweetalert/2.1.2/sweetalert.min.js"></script>
<script type="text/javascript">
    var controller = "Withdraw";
    $.ajaxSetup({
        //async: false,
        cache: false,
        timeout: 15000,
        dataType: "json",
        //contentType: "application/json; charset=utf-8",
        crossDomain: true,
        success: function (data) {
            if (data.code == "anonymous") {
                window.location.href = '/';
            }
            else if (this.isuccess) {
                this.isuccess(data);
            }
        },
        error: function (xhr, status, e) {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    var domObj = xhr.responseXML;
                    if (domObj) {
                        var messageNodes = domObj.getElementsByTagName("message");
                        if (messageNodes.length > 0) {
                            var textNode = messageNodes[0].firstChild;
                            var responseMessage = textNode.nodeValue;
                            swal({ title: "操作错误", text: responseMessage, icon: "error" });
                        }
                        else {
                            swal({ title: "提交错误:" + xhr.status, text: xhr.responseText, icon: "error" });
                        }
                    }
                    else {
                        swal({ title: "提交错误:" + xhr.status, text: xhr.responseText, icon: "error" });
                    }
                }
                else {
                    swal({ title: "提交错误:" + xhr.status, text: "参考信息：无", icon: "error" });
                }
            }
        },
        beforeSend: function (xhr) {
            $("#loading").show();
        },
        complete: function (xhr, status) {
            $("#loading").hide();
            if (this.icomplete) {
                this.icomplete();
            }
        }
    });
    $(function () {
        FastClick.attach(document.body);
    });
{/block}
</body>
</html>