{extend name="../user-layout" /}
{block name="content"}

<style>

    *, blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
        margin: 0;
        padding: 0;
        vertical-align: baseline;
    }

    .search {
        width: 840px;
        padding-bottom: 15px;
    }

    .search-table01-l table {
        text-align: center;
        width: 100%;
        color: #55595f;
        font-size: 16px;
        border-collapse: collapse;
    }


    .search-table01-l table tr td {
        padding: 22px 0;
        border: none;
        vertical-align: middle;
    }

    .search-table01-l table tr .name-des {
        text-align: left;
    }

    .public_tbl .name-des {
        position: relative !important;
    }

    .search-table01-l table tr td {
        padding: 22px 0;
        border: none;
        vertical-align: middle;
    }

    .search-table01-l table tr .name-des {
        text-align: left;
    }

    .public_tbl .name-des {
        position: relative !important;
    }

    .search-table01-l table tr td {
        padding: 10px 0;
        border: none;
        vertical-align: middle;
    }

    .search-table01-l table tr .user-icon {
        width: 80px;
        text-align: left;
    }

    .search-table01-l table tr .user-icon img {
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }

    .search-table01-l table tr {
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
    }

    .search-table01-l table tr .name-des {
        text-align: left;
    }

    .public_tbl .name-des {
        position: relative !important;
    }

    .search-table01-l table tr td {
        padding: 10px 0;
        border: none;
        vertical-align: middle;
    }

    .search-table01-l table tr .name-des {
        text-align: left;
    }

    .public_tbl .name-des {
        position: relative !important;
    }

    .lin-searchnav {
        width: 100%;
        margin-top: 25px;
    }

    .bd-bottom .lin-ul {
        width: 100%;
        margin: 0px auto;
        background: rgb(255, 255, 255);
        height: 62px;
        padding: 20px 0px 0px;
        line-height: 62px;
    }


    .lin-searchnav .center-box .search-find {
        border: 1px solid #eee;
        width: 100%;
        margin-bottom: 20px;
        padding: 15px 20px 15px;
    }

    .input-info {
        font-size: 14px;
        line-height: 39px;
        height: 39px;
        border: 1px solid #eee;
        width: 330px;
        color: #7c7c7c;
        outline: none;
        box-shadow: none;
        border-radius: 0;
        margin-right: 10px;
        padding-left: 10px;
        border: 1px solid #eee !important;
        outline: 0 !important;
        border-radius: 6px !important;
        height: 39px !important;
    }

    .search .search-btn {
        width: 80px;
        height: 39px;
        text-align: center;
        background-color: #337AB7;
        color: #fff;
        cursor: pointer;
        border-radius: 6px !important;
        vertical-align: top;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: none;
    }

    .lin-ul li {
        display: block;
        float: left;
        font-size: 20px;
        height: 42px;
        line-height: 42px;
        line-height: 42px \9;
        line-height: 42px;
        _line-height: 42px;
        color: #333;
        position: relative;
        cursor: pointer;
        padding: 0 20px;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
    }

    .lin-ul li.lin-senav-active {
        color: #E5B1A0;
        border-top: 1px solid #eee;
        border-right: 1px solid #eee;
        border-left: 1px solid #eee;
    }

    .lin-ul li.lin-senav-active:after {
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: -3px;
        z-index: 100;
    }

    #condition {
        width: 100%;
        margin-bottom: 0;
        overflow: hidden;
        position: relative;
        padding-bottom: 8px;
    }

    .listSpan .list-key {
        float: left;
        color: #000;
        height: 24px;
        line-height: 24px;
        width: 58px;
    }

    #condition li {
        cursor: pointer;
    }

    .listSpan .more-search {
        float: left;
        /*width: 100%;*/
        margin-left: 30px;
    }

    dl, ol, ul {
        margin-top: 0;
        margin-bottom: 1em;
    }

    ol, ul {
        list-style: none;
    }

    .listSpan .list-key {
        float: left;
        color: #000;
        height: 24px;
        line-height: 24px;
        width: 58px;
    }

    *, :after, :before {
        box-sizing: border-box;
    }

    .listSpan {
        width: 100%;
        /*white-space:nowrap;*/
    }

    .listSpan .iconfont {
        float: left;
        font-size: 14px;
        padding: 5px 5px 0 0;
        color: #999;
    }

    #condition .listSpan .more-search span {
        transition: all .4s;
    }

    #condition .spanActive {
        color: #ff6602;
    }


    .listSpan .more-search span {
        padding: 0 20px 12px 0;
        color: #000;
        display: inline-block;
        line-height: 24px;
        font-size: 14px;
    }

    .listSpan .iconfont {
        float: left;
        font-size: 14px;
        padding: 5px 5px 0 0;
        color: #999;
    }


    .icon-jiantou:before {
        float: left;
        content: '';
        color: #757575;
        height: 24px;
        line-height: 24px;
    }
    .fypages, .fypages ul {
        overflow: hidden;
        text-align: center;
    }


    .fypages {
        margin: 30px 0 10px;
    }

    .fypages, .fypages ul {
        overflow: hidden;
        text-align: center;
    }

    .fypages ul {
        background: #fff;
        margin-bottom: 0;
        display: inline-block;
    }

    .fypages ul li {
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        color: #000;
        line-height: 26px\9;
        line-height: 26px;
        padding: 0 10px;
        margin-right: 5px;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-radius: 100%;
        height: 26px;
        float: left;
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
    }

    .fypages ul li.active {
        background: #676667;
        width: 26px;
        padding: 0;
        color: #fff;
    }

    .fypages ul li:hover {
        color: #ff6602;
    }

</style>

<div class="container">
    <div class="row">
        <div class="lin-searchnav">
            <div class="lin-searchnav-box">
                <div class="bd-bottom">
                    <ul class="lin-ul">
                        <li class="lin-senav-active">商户</li>
<!--                        <li class="">渠道</li>-->
                    </ul>
                </div>
            </div>
            <div class="center-box">
                <div class="search-find">
                    <div>
                        <div class="search search_public">
                            <div class="inp_wrap">
<!--                                <form action="#">-->
                                    <input maxlength="50" class="input-info" name="username" placeholder="输入商户名称">
                                    <div style="display: inline-block; vertical-align: top;">
                                        <button class="search-btn">搜索</button>
                                    </div>
<!--                                </form>-->
                            </div>

                        </div>
                        <ul id="condition">
                            <li class="listSpan"><span class="list-key">创建时间</span><i class="icon-jiantou"></i>
                                <div class="more-search time">
                                    <span class="spanActive createTime" data-value="">全部</span>
                                    <span class="createTime" data-value="w">一周</span>
                                    <span class="createTime" data-value="m">一个月</span>
                                    <span class="createTime" data-value="3m">三个月</span>
                                    <span class="createTime" data-value="d">一年</span>
                                </div>
                                <div style="clear: both;"></div>
                            </li>
<!--                            <li class="listSpan"><span-->
<!--                                    class="list-key">类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型</span><i-->
<!--                                    class="icon-jiantou"></i>-->
<!--                                <div class="more-search">-->
<!--                                    <span class="spanActive" >全部</span>-->
<!--                                    <span class="">渠道用户</span>-->
<!--                                    <span class="">商户用户</span>-->
<!--                                    <span class="">三方用户</span>-->
<!--                                    <span class="">代理用户</span>-->
<!--                                </div>-->
<!--                                <div style="clear: both;"></div>-->
<!--                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-table01-l">
            <table id="myTable" class="public_tbl">
                <tbody></tbody>
            </table>
            <div class="text-center" id="no-data" style="display: none">
                <img src="/public/static/usercenter/images/noData.png" alt="">
            </div>
        </div>
        <div class="fypages">

        </div>
        <div style="height: 250px"></div>
    </div>
</div>

<script type="text/javascript">
    var currentPage = 0;
    var totalPage = 0;
    var totalNum = 0;
    var page = 1;
    var pagesize = 10;
    var noData = document.getElementById("no-data");
    var show = function (elem) {
        elem.style.display = 'inline'
    }
    var hide = function (elem) {
        elem.style.display = 'none';
    }
    var user = {
        searchVal: {page:page, limit:pagesize},
        getUserLists: function (d) {
            $.ajax({
                url: "index",
                type: 'POST',
                data: this.searchVal,
                dataType: 'json',
                success: function (result) {
                    if (result.code == 1) {
                        $('#myTable > tbody').html('');
                        if (result.data.total === 0) {
                            show(noData)
                            $('.fypages').html('');
                        } else {
                            hide(noData)
                            var totalNum = result.data.total;
                             currentPage = result.data.current_page;
                            $.each(result.data.data, function (index, user) {
                                let r  = $('<tr className="line"></tr>'),
                                    d1 = $('<td class="user-icon"><a class="imga" data-publish=""><img src="' + user.avatar + '"></a></td>'),
                                    d2 = $('<td class="name-des">'+ user.username + '</td>'),
                                    d3 = $('<td>' + user.account + '</td>');
                                r.append(d1).append(d2).append(d3);
                                r.appendTo( $('#myTable > tbody'))
                            })
                            totalPage = totalNum % pagesize == 0 ? totalNum / pagesize : Math.ceil(totalNum / pagesize) ;
                            pageHtml();
                        }
                    }
                }
            });
        }
    }

    var pageHtml = function (){
        $('.fypages').html('');
        if (totalPage > 1){
            let u = $('<ul></ul>');
                $('<li class="pages">首页</li>').appendTo(u);
                $('<li class="pages">上一页</li>').appendTo(u);
            if  (totalPage > 7 && currentPage > 3){
                if ( (currentPage + 3) >= totalPage ){
                    i = currentPage - (7 - (totalPage-currentPage));
                    pageNumberSection = totalPage
                }else{
                    pageNumberSection = currentPage+3;
                    i = currentPage - 3;
                }
            }else if(totalPage > 7 && currentPage < 4){
                i = 1;
                pageNumberSection = 7;
            }else{
                i = 1;
                pageNumberSection = totalPage;
            }
            for (i; i <= pageNumberSection; i++) {
                if  (i === currentPage){
                    $(' <li class="pages active">'+i+'</li>').appendTo(u);
                }else{
                    $(' <li class="pages none">'+i+'</li>').appendTo(u);
                }
            }
            $('<li class="pages">下一页</li>').appendTo(u);
            $('<li class="pages">末页</li>').appendTo(u);
            $('.fypages').append(u)
        }
    }

    $('.fypages').on('click', '.pages', function (){
        if (this.innerHTML == '首页'){
            if (currentPage == 1) return false;
            page = 1;
        }else if(this.innerHTML == '上一页'){
            if (currentPage == 1) return false;
            page = currentPage - 1;
        }else if(this.innerHTML == '末页'){
            if (currentPage == totalPage) return false;
            page = totalPage;
        }else if(this.innerHTML == '下一页') {
            if (currentPage == totalPage) return false;
            page = currentPage + 1;
        }else{
            page = this.innerHTML;
        }
        user.searchVal = {page:page, limit:pagesize};
        user.getUserLists();

    })
    user.getUserLists();

    $('.search-btn').on('click', function () {
       var username = $('[name="username"]').val();
       user.searchVal = {username:username};
       user.getUserLists();
    })

    $('.createTime').on('click', function () {
        $('.time .spanActive').removeClass('spanActive');
        $(this).addClass('spanActive');
        user.searchVal = {createTime:$(this).attr('data-value')};
        user.getUserLists();
    })

</script>

{/block}


